.CheckoutContainer {
    width: 100%;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CheckoutContainerPanier {
    width: 100%;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CheckoutContainerPanier div {
    width: 25%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
.CheckoutContainerPanier div a {
    color: white;
    text-decoration: none;
}
.btn {
    width: 80%;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button {
    width: 18%;
    height: 60%;
    background-color: black;
    color: white;
    border:1px solid black;
    cursor: pointer;
    margin: 0px 30px;
}

