.Container {
    width: 100%;
    height: 90vh;
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 140px 0px 140px;
    flex-wrap: wrap;
    background-color: white;
}
.Button{
    width: 25%;
    height: 10%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button a {
    width: 25%;
    height: 10%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AdressInfo {
    width: 48%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-right: #9CA3AF 1px solid;
}

.ClientInformation {
    width: 100%;
    height: 50%;
    border:1px solid #9CA3AF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.4rem;
    
}
.span {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    align-items: center;
}
.span span {
    color: #9CA3AF;
    height: 80%;
}
.span h4 {
    cursor: pointer;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mid {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.ItemSelected {
    width: 48%;
    height: 80%;
    padding: 1rem;
    border-left: #9CA3AF 1px solid;
}
.productContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.productCard {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9CA3AF;
}
.Image {
    width: 30%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 0.4rem;
}
.InfoProduct {
    width: 68%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shoesInfo {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9CA3AF;
}
.shoesInfo h2 {
    font-size: .9rem;
    color: black;
}
.shoesPrice {
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.shoesPrice h1 {
    font-size: 0.9rem;
}
.productSomme {
    width: 100%;
    height: 14%;
    background-color: white;
    border-bottom: 1px solid #9CA3AF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productSomme span {
    width: 40%;
}
.productSomme b {
    width: 50%;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    
}
.productTotal {
    width: 100%;
    height: 14%;
    width: 100%;
    height: 14%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and  (max-width: 600px) {
    .Container {
        width: 100%;
        padding: 0px 30px 0px 30px;
    }
    .AdressInfo {
        width: 100%;
        border: none;
    }
    .ItemSelected {
        width: 100%;
        padding: none;
        border-left: none;
    }

    .Button{
        width: 48%;
        height: 10%;
        margin-bottom: 1.5rem;
        display: flex;
        text-align: center;
    }
}