.Container {
    display: flex;
    width: 300vw;
    height: 80vh;
    overflow: hidden;
    cursor: pointer;
    margin-top: 60px;
}

.ImageContainer {
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: image 0.8s cubic-bezier(0.23, 1, 0.320, 1) ;
}
@keyframes image {
    from {
        opacity: 0;
        height: 0;
    }to{
        opacity: 1;
        height: 100%;
    }
}
.title {
    position: absolute;
    width: 20%;
    right: calc(79.9% - 140px);
    color: white;
    bottom: 50%;
    
}

.btn {
    width: 15%;
    height: 3.5rem;
    background-color: black;
    position: absolute;
    right: calc(84.9% - 140px);
    bottom: 40%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio {
    width: 15%;
    height: 3.5rem;
    position: absolute;
    right: calc(84.9% - 140px);
    bottom: 27%;
    display: flex;
    justify-content: space-between;
}
.radio h5 {
    height: 2rem;
    width: 30%;
    text-align: center;
}
.line {
    border-bottom: 3px solid white;
    color: white;
}




/* Mobile */


@media screen and  (max-width: 600px) {
   
    .Container {
        height: 60vh;
        overflow: hidden;
    }
    .btn {
        width: 50%;
        right: 25%;
        opacity: 1;
        right: calc(100% - 50% - 30px );

    }
    .ImageContainer {
        overflow: hidden;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        transition:  all 0.9s ease-out;
        animation: image 0.5s cubic-bezier(0.23, 1, 0.320, 1) ;
    }
    .title {
        right: calc(100% - 20% - 30px);
        
    }

    .radio {
        width: 50%;
        bottom: 27%;
        right: calc(100% - 50% - 30px );
    }
}